<h3>Elements Component</h3>
<div class="ui form">
  <div class="ui field">
    <label>How many lines you want to see?</label>
    <input
      type="range"
      min="numberOfLines"
      max="10"
      [value]="numberOfLines"
      (change)="changeLines($event)"
    />
  </div>
  <div class="ui field">
    <label>Image Part need to show or not?</label>
    <input
      type="checkbox"
      checked="imageVisibility"
      (change)="changeImageVisibility($event)"
    />
  </div>
</div>
<app-placeholder
  [imageShow]="imageVisibility"
  [lines]="numberOfLines"
  [data]="names"
></app-placeholder>

<app-segment>
  <header>
    <i class="pdf file outline icon"></i> No documents are listed for this
    customer.
  </header>
  <app-divider></app-divider>
  <button class="ui primary button">Add Document</button>
</app-segment>

<app-segment>
  <header><i class="add icon"></i> Add Resource</header>
  <app-divider></app-divider>
  <button class="ui primary button">Add Resource</button>
</app-segment>
